@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
html,
body{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.slide-in {
	animation: slide-in-elliptic-left-bck 0.4s alternate ease-in-out both;
}
@keyframes slide-in-elliptic-left-bck {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
